# No. 1

In [1]:
nim_terakhir = 2  # dari "002"

total_harga = 100000 

if nim_terakhir % 2 == 0:
    diskon = 0.10 
else:
    diskon = 0.05  

diskon_harga = total_harga * diskon
total_setelah_diskon = total_harga - diskon_harga

print(f"Total harga sebelum diskon: Rp {total_harga:.2f}")
print(f"Diskon: {diskon * 100:.0f}%")
print(f"Total harga setelah diskon: Rp {total_setelah_diskon:.2f}")

Total harga sebelum diskon: Rp 100000.00
Diskon: 10%
Total harga setelah diskon: Rp 90000.00

# No. 2

In [2]:
nim_terakhir = 2  # dari "002"

nilai = 84  

if nim_terakhir > 500:
    syarat_kelulusan = 80
else:
    syarat_kelulusan = 75

if nilai >= syarat_kelulusan:
    status = "Lulus"
else:
    status = "Tidak Lulus"

print(f"Nilai ujian: {nilai}")
print(f"Syarat kelulusan: {syarat_kelulusan}")
print(f"Status: {status}")

Nilai ujian: 84
Syarat kelulusan: 75
Status: Lulus

# No. 3

In [5]:
nim_terakhir = 2  # dari "002"

total_belanja = 220000  
batas_gratis_ongkir = 200000 + nim_terakhir

if total_belanja > batas_gratis_ongkir:
    status = "Mendapatkan gratis ongkir"
else:
    status = "Tidak mendapatkan gratis ongkir"

print(f"Total belanja: Rp {total_belanja}")
print(f"Batas gratis ongkir: Rp {batas_gratis_ongkir}")
print(f"Status: {status}")

Total belanja: Rp 220000
Batas gratis ongkir: Rp 200002
Status: Mendapatkan gratis ongkir

# No. 4

In [4]:
nim_terakhir = 2  # dari "002"

gaji_per_jam = 40000  
jam_kerja = 45  
gaji_dasar = gaji_per_jam * jam_kerja

if jam_kerja > 40:
    bonus = (0.10 * gaji_dasar) + nim_terakhir
else:
    bonus = 0

total_gaji = gaji_dasar + bonus

print(f"Gaji dasar: Rp {gaji_dasar}")
print(f"Bonus: Rp {bonus}")
print(f"Total gaji: Rp {total_gaji}")

Gaji dasar: Rp 1800000
Bonus: Rp 180002.0
Total gaji: Rp 1980002.0

# No. 5

In [6]:
nim_terakhir = 2  # dari "002"

total_pesanan = 60000 
batas_pajak = 50000 - nim_terakhir

if total_pesanan > batas_pajak:
    pajak = 0.05 * total_pesanan
else:
    pajak = 0

total_biaya = total_pesanan + pajak

print(f"Total pesanan: Rp {total_pesanan}")
print(f"Batas pajak: Rp {batas_pajak}")
print(f"Pajak: Rp {pajak}")
print(f"Total biaya yang harus dibayar: Rp {total_biaya}")

Total pesanan: Rp 60000
Batas pajak: Rp 49998
Pajak: Rp 3000.0
Total biaya yang harus dibayar: Rp 63000.0

# No. 6

In [7]:
nim_terakhir = 2  # dari "002"

jarak_lari = 5  # dalam km

if jarak_lari > nim_terakhir:
    status = "Berhasil memenuhi target"
else:
    status = "Belum memenuhi target"

print(f"Jarak lari: {jarak_lari} km")
print(f"Target minimal: {nim_terakhir} km")
print(f"Status: {status}")

Jarak lari: 5 km
Target minimal: 2 km
Status: Berhasil memenuhi target

# No. 7

In [8]:
nim_terakhir = 2  # dari "002"

harga_tiket = 50000  
usia_anak = 4 

if usia_anak < 5:
    if nim_terakhir % 2 == 0:
        harga_tiket = 0  
    else:
        harga_tiket *= 0.5  


print(f"Usia anak: {usia_anak} tahun")
print(f"Harga tiket: Rp {harga_tiket:.2f}")

Usia anak: 4 tahun
Harga tiket: Rp 0.00

# No. 8

In [9]:
nim_terakhir = 2  # dari "002"

harga_per_buku = 50000  
jumlah_buku = 6 

if jumlah_buku > 5 and nim_terakhir > 300:
    diskon = 0.20  
else:
    diskon = 0.10  

total_harga = jumlah_buku * harga_per_buku
total_harga_setelah_diskon = total_harga * (1 - diskon)

print(f"Jumlah buku: {jumlah_buku}")
print(f"Total harga sebelum diskon: Rp {total_harga}")
print(f"Diskon: {diskon * 100}%")
print(f"Total harga setelah diskon: Rp {total_harga_setelah_diskon:.2f}")

Jumlah buku: 6
Total harga sebelum diskon: Rp 300000
Diskon: 10.0%
Total harga setelah diskon: Rp 270000.00

# No. 9

In [13]:
nim_terakhir = 2  # dari "002"

bilangan = 25

if nim_terakhir % 2 == 0:
    hasil = "Genap"
else:
    hasil = "Ganjil"

print(f"Bilangan yang dimasukkan: {bilangan}")
print(f"Hasil berdasarkan NIM ({nim_terakhir}): {hasil}")

Bilangan yang dimasukkan: 25
Hasil berdasarkan NIM (2): Genap

# No. 10

In [14]:
nim_terakhir = 2  # dari "002"

tahun = 2025

if nim_terakhir % 2 == 0:
    hasil = "Kabisat"
else:
    hasil = "Bukan Kabisat"

print(f"Tahun yang dimasukkan: {tahun}")
print(f"Hasil berdasarkan NIM ({nim_terakhir}): {hasil}")

Tahun yang dimasukkan: 2025
Hasil berdasarkan NIM (2): Kabisat

# No. 11

In [15]:
nim_terakhir = 2  # dari "002"

jumlah_cetak = nim_terakhir % 10

daftar_belanja = ["laptop", "iphone", "jam tangan", "Sepatu", "topi"]

for i in range(jumlah_cetak):
    print(f"Cetakan ke-{i+1}:")
    for item in daftar_belanja:
        print(f"- {item}")
    print()

Cetakan ke-1:
- laptop
- iphone
- jam tangan
- Sepatu
- topi

Cetakan ke-2:
- laptop
- iphone
- jam tangan
- Sepatu
- topi

# No. 12

In [16]:
nim_terakhir = 2  # dari "002"

kelipatan = nim_terakhir % 5

print(f"Bilangan kelipatan {kelipatan} dari 1 sampai 100:")
for i in range(1, 101):
    if i % kelipatan == 0:
        print(i)

Bilangan kelipatan 2 dari 1 sampai 100:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# No. 13

In [17]:
nim_terakhir = 2  # dari "002"

tabel_perkalian = nim_terakhir % 9

print(f"Tabel perkalian {tabel_perkalian}:")
for i in range(1, 11):
    print(f"{tabel_perkalian} x {i} = {tabel_perkalian * i}")

Tabel perkalian 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

# No. 14

In [18]:
nim_terakhir = 2  # dari "002"

tinggi = nim_terakhir % 7

print(f"Pola bintang segitiga siku-siku dengan tinggi {tinggi}:")
for i in range(1, tinggi + 1):
    print("*" * i)

Pola bintang segitiga siku-siku dengan tinggi 2:
*
**

# No. 15

In [19]:
nim_terakhir = 2  # dari "002"

batas = nim_terakhir

def is_prima(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

print(f"Bilangan prima dari 1 sampai {batas}:")
for i in range(1, batas + 1):
    if is_prima(i):
        print(i, end=" ")
print()

Bilangan prima dari 1 sampai 2:
2

# No. 16

In [20]:
nim_terakhir = 2  # dari "002"

jumlah_fibonacci = nim_terakhir % 10

def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b
    print()

print(f"Deret Fibonacci sebanyak {jumlah_fibonacci} bilangan:")
fibonacci(jumlah_fibonacci)

Deret Fibonacci sebanyak 2 bilangan:
0 1

# No. 17

In [22]:
nim_terakhir = 2  # dari "002"

kelipatan = nim_terakhir % 6

print(f"Bilangan kelipatan {kelipatan} dari 1 sampai 100:")
for i in range(1, 101):
    if i % kelipatan == 0:
        print(i)

Bilangan kelipatan 2 dari 1 sampai 100:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# No. 18

In [24]:
nim_terakhir = 2  # dari "002"

batas = nim_terakhir

print(f"Bilangan ganjil dari 1 sampai {batas}:")
for i in range(1, batas + 1, 2):  
    print(i)

Bilangan ganjil dari 1 sampai 2:
1

# No. 19

In [26]:
import math

nim_terakhir = 2  # dari "002"

angka = nim_terakhir % 8
hasil = math.factorial(angka)
print(f"Faktorial dari {angka} adalah {hasil}")

Faktorial dari 2 adalah 2

# No. 20

In [27]:
nim_terakhir = 2  # dari "002"

jumlah_cetak = nim_terakhir % 5

for _ in range(jumlah_cetak):
    print("Terima Kasih")

Terima Kasih
Terima Kasih